/*Baseline CSS Mobile first*/

* {
	box-sizing: border-box;
}

body {
	font-family: "Tahoma", sans-serif;

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {}

img {
  
	min-width: 100%;
}

/*Navigation*/

.title {
  margin: 0;
}

.navigation {
  margin-top: 10px;
}

.title a,
.navigation a {
  display: block;
  padding: 5px 15px;
  text-align: center;
  color: white;
}

.navigation a:hover {
  color: lightgrey;
}

.nav-header {
  background-color: #669966;
}
/*main image section*/
.main-img {
	padding-top: 100px;
  height: 600px;
  background:	linear-gradient(0deg, #fff, transparent 50%),
              #669966 url('../imgs/headerimage.jpg') no-repeat center;
  background-size: cover;
  color: white;
}

/*media query section*/

@media (min-width:769px) {

.nav-header,
.title,
.navigation {
  display: flex;
  }

.nav-header {
  flex-direction: row;
  justify-content: space-between;
  }

@media (min-width:1024px){
	.main-img {
		max-height: 600px;
		max-width: 1024px;
		margin: auto;

	}

	}
}
