/*CSS Mobile first*/

* {box-sizing: border-box;}

/* CSS Elements */

html, body {
    height: 100%;
}

body {    
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

a {text-decoration: none;}

ul {
  list-style: none;
  margin: .75em;
  padding: 0;
}

p {}

footer {
    min-height: 6.25rem;
    background-color: #096;
}

button {
    padding: .75em;
    border-radius: 15px;
    background: #096;
    color: white;
}

button:hover {
    box-shadow: .2em .2em .8em #669;
    background: white;
    color: #096;
}

/* Wrapper */

.wrapper {
    flex: 1 0 auto;
}


/* theme text colors, font weight, other styles */

.thin {font-weight: 100;}

.purple {color: #669;}

.white {color: white;}

.green {color: #096;}

.bx-sdw {box-shadow: .2em .5em .8em #669;}

.bd-rad-round {border-radius: 5px;}

/* Navigation */

.logo {
    max-height: 7.5em;
    align-content: center;
    display: block;
    margin: auto;
}

.navigation {
  margin-bottom: .5em;     
}

.navigation li {
    background: #096;
    border: solid 2px white;
    max-width: 40%;
    margin: 0 auto .5em;
    border-radius: 5px;
}

.title a,
.navigation a {
  display: block;
  padding: .25em 1em;
  text-align: center;
  color: white;
}

.navigation li a:hover {
    background-color: white;
    color: #096;
}

.nav-header {
  background-color: #096;
  box-shadow: 0 .3em .8em #669;
  z-index: 100;
}

/* main content section home page */

.col-1 {margin: 1em;}

.main-img {
    max-height: 650px;
    max-width: 100%;
    display: block;
    margin: auto;
}

.col-2 {
    font-size: 1rem;
    color: #096;
    text-align: center;
    margin: auto;
    width: 80%;
}

/* mantra generator */

.mantra-div {margin: 1em;}
.mantra-div button {margin: 10px;}


/*
=======================
About Page
=======================
*/

.abt-img-1 {
    width: 100%;
    height: 700px;
    background-image: url("../imgs/aboutpageimg1-sfw.jpg");
    background-size: cover;
}

.abt-text-container-1 {
    text-align: center;
    font-size: 1.15em;
    background: rgba(100,100,100,.8);
    position: relative;
    top: 70%;
    margin: 1em;
}

.main-content-about h1 {
    margin-left: .75em;
}

.abt-sec-2 {
    margin: 1em;
    display: flex;
}


.abt-img-3,
.abt-img-2 {
    width: 95%;
    display: block;
    margin: auto;
}


/*
=======================
Packages Page
=======================
*/

.main-content-packages {
    margin: 1em;
    padding: 1em;
    text-align: center;
}

.pac-col-1,
.pac-col-2{
    background-color: #096;
    border: solid #669 5px;
    border-style: inset;
    margin: 1em;
    padding: .5em;
    font-size: 1.15rem;
}


/* footer section */

#copyright{ 
    color: white;
    margin-left: 1em;
    position: relative;
    top: 40%;
}

.icn {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 5px;
}

.fb {
    position: absolute;
    right: 5px;
}
.insta {
    position: absolute;
    right: 90px;
}

/*media query section*/

@media (min-width:769px) {

.main-content {
  padding-top: 7.5em;      
  }    
.main-content-about {
  padding-top: 6.5em;      
  }    
.main-content-packages {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 8em;      
  }    
    
.nav-header,
.navigation,
.logo,
.main-content {
  display: flex;
  }   

.nav-header {
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  } 

.navigation {
  margin-top: 2.75em;
  }    

.navigation a {
  padding: .25em 2em;
  }    
    
.navigation li {
  margin-right: .5em;  
  }   
    
.col-1 {margin-right: 2em;
  }    
    
.col-2 {
    font-size: 1.15rem;
    width: 60%;
  }        
    
/* about page  */
.abt-text-container-1 {
    margin-left: 20%;
  } 
    
.abt-img-3, 
.abt-img-2 {
    width: 90%;
  }    
    
/* packages page  */

.pac-col-1,
.pac-col-2 {
    width: 75%;
    margin: 2em auto 1em;
 } 
    
    
@media (min-width:1024px) {
    
.col-2 {
    width: 55%;
  }
 .abt-text-container-1 {
        font-size: 1.3rem;
        margin-left: 30%;
    } 

	}
}
