/*Baseline CSS Mobile first*/

* {
	box-sizing: border-box;
}

body {
	font-family: "Tahoma", sans-serif;

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {}

footer{
    height: 100px;
    background-color: #096;
}
/*Navigation*/
.logo {
    max-height: 100px;
    align-content: center;
    display: block;
    margin: auto;
}

.navigation {
  margin-top: 10px;
}

.navigation li {
    background: #096;
    border: solid 1px white;
    max-width: 40%;
    margin: auto;
}

.title a,
.navigation a {
  display: block;
  padding: 5px 15px;
  text-align: center;
  color: white;
}

.navigation li a:hover {
    background-color: white;
    color: #096;
}

.nav-header {
  background-color: #096;
}
/*main content section*/
.main-img {
    max-height: 600px;
}

.col-2 {
    color: #096;
    text-align: center;
    margin: auto;
    width: 60%;
}


/* footer section */

.icn {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 5px;
}

.fb {
    position: absolute;
    right: 5px;
}
.insta {
     position: absolute;
    right: 90px;
}


/*media query section*/

@media (min-width:769px) {

.nav-header,
.navigation,
.logo,
.main-content {
  display: flex;
  }
    
.navigation {
  margin-top: 35px;
  }    

.nav-header {
  flex-direction: row;
  justify-content: space-between;
  } 

@media (min-width:1024px){


	}
}
